**/.devpod-internal/
**/*.pem
**/*.crt
**/*.key
**/.env
**/ldif/01-user_*
**/ldif/01-unite_*

**/python_venv/*
__pycache__/

Node/portfolio-vitrine/
Rust/pwiz-gui
Rust/pwiz-web
PHP/accueil
PHP/vote
PHP/export_ldap
PHP/ti_botin
PHP/resa
PHP/ipervision
