[submodule "PHP/accueil"]
	path = PHP/accueil
	url = https://${GITHUB_TOKEN}@github.com/loicdurand/accueil.git
[submodule "PHP/resa"]
	path = PHP/resa
	url = https://${GITHUB_TOKEN}@github.com/loicdurand/resa.git
[submodule "PHP/tomomi"]
	path = PHP/tomomi
	url = https://${GITHUB_TOKEN}@github.com/loicdurand/tomomi.git

[submodule "PHP/vote"]
	path = PHP/vote
	url = https://${GITHUB_TOKEN}@github.com/loicdurand/vote
[submodule "Rust/pwiz-gui"]
	path = Rust/pwiz-gui
	url = https://${GITHUB_TOKEN}@github.com/loicdurand/pwiz-gui.git
[submodule "Rust/pwiz-web"]
	path = Rust/pwiz-web
	url = https://${GITHUB_TOKEN}@github.com/loicdurand/pwiz-web.git
[submodule "skoop"]
	path = skoop
	url = https://${GITHUB_TOKEN}@github.com/loicdurand/skoop.git

[submodule "portfolio-vitrine"]
	path = Node/portfolio-vitrine
	url = https://${GITHUB_TOKEN}@github.com/loicdurand/portfolio-vitrine.git
