services:
  php:
    build:
      context: ../
      dockerfile: .devcontainer/Dockerfile
    volumes:
      - ../:/workspace:cached
      - ./apache.conf:/etc/apache2/sites-available/000-default.conf:ro
    networks:
      - php-net
    depends_on:
      - mysql

  sso:
    image: python:3.9
    build:
      context: ../
      dockerfile: .devcontainer/Dockerfile.sso
    volumes:
      - ./:/workspace:cached
    command: python3 /workspace/sso_server/sso_server.py &
    networks:
      - php-net
    depends_on:
      - mysql
      - openldap

  mysql:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: my_password
      MYSQL_USER: admin
      MYSQL_PASSWORD: my_password
    volumes:
      - ./mysql-data:/var/lib/mysql:rw
      - ./mysql-init:/docker-entrypoint-initdb.d:ro
    networks:
      - php-net

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    environment:
      - PMA_ARBITRARY=1
      - PMA_HOST=mysql
      - PMA_USER=admin
      - PMA_PASSWORD=my_password
      - UPLOAD_LIMIT=20M
    depends_on:
      - mysql
    networks:
      - php-net

  openldap:
    container_name: openldap
    image: alpine:latest
    command: sh -c "apk add --no-cache openldap openldap-back-mdb && slapd -d 256 -f /etc/openldap/slapd.conf"
    environment:
      TZ: -04:00
    volumes:
      - openldap-data:/var/lib/openldap/openldap-data
    ports:
      - "389:389"
      - "636:636"
    networks:
      - php-net

  reverse-proxy:
    image: nginx:latest
    container_name: reverse-proxy
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
    - php
    - openldap
    - phpmyadmin
    networks:
      - php-net

volumes:
  mysql-data:
  openldap-data:
  openldap-config:

networks:
  php-net:
    driver: bridge
