:8000 {
    redir https://{http.request.host}{http.request.uri} 301
}

:443 {
    tls /etc/caddy/certs/localhost.crt /etc/caddy/certs/localhost.key
    root * /workspace/accueil/public
    php_fastcgi unix//var/run/php/php-fpm.sock
    file_server
    encode gzip
    log {
        output file /workspace/accueil/var/log/caddy/access.log
        format json
    }
    @notStatic {
        not path *.php
        not file
    }
    rewrite @notStatic /index.php
}
